extends ../layout
block scripts
block css_base
block scripts_base
block css
	link(rel='stylesheet', href='/stylesheets/blackjack.css')
block content
	script
		var game_data = !{JSON.stringify(data)};
		//- console.log(game_data);
	div.blackJackContainer
		div.gameTopBar 
			span.gameTitle #{data.game_name}
			div.playerBid
				span.bidText.moneyItem Bid
				span.bjPlayerBid.moneyItem 0
			div.playerMoney
				span.moneyText.moneyItem Money
				span.bjPlayerMoney.moneyItem #{data.cur_player.money}
		div.blackJackTable
			div.blackJackDealerContainer
				div.blackJackPlayer.dealer
					span.blackJackNameTag Dealer
					div.blackJackHand
					div(class='blackJackCardValue',disabled='disabled')	
			div.blackJackPlayerContainer
				div.blackJackPlayer.leftPlayer.livePlayer
					if data.left_player
						span.blackJackNameTag #{data.left_player.user_name}
					else
						span.blackJackNameTag
					div.blackJackHand
					div(class='blackJackCardValue',disabled='disabled')
					div.blackJackGameResult	
				div.blackJackPlayer.currentPlayer.livePlayer
					span.blackJackNameTag #{data.cur_player.user_name}
					div.blackJackHand
					div(class='blackJackCardValue')
					div.blackJackGameResult
				div.blackJackPlayer.rightPlayer.livePlayer
					if data.right_player
						sapn.blackJackNameTag #{data.right_player.user_name}
					else
						span.blackJackNameTag
					div.blackJackHand
					div(class='blackJackCardValue',disabled='disabled')
					div.blackJackGameResult
		div.blackJackMenu
			div.bidMenu
				input(type= "button",value="$1", id="bj_d1",class='blackJackChip blackJackChip')
				input(type= "button",value="$5", id="bj_d5",class='blackJackChip blackJackChip')
				input(type= "button",value="$10", id="bj_d10",class='blackJackChip blackJackChip')
				input(type= "button",value="$20", id="bj_d20",class='blackJackChip blackJackChip')
			div.messageField
				div.bjGameMessage
			div.optionMenu
				input(type= "button",value="double", id="blackJackDouble",class='blackJackOptionButton gameButton')
				input(type= "button",value="stand", id="blackJackStand",class='blackJackOptionButton gameButton')
				input(type= "button",value="hit", id="blackJackHit",class='blackJackOptionButton gameButton')
				input(type= "button",value="deal", id="blackJackDeal",class='blackJackOptionButton gameButton')
				input(type= "button",value="quit", id="blackJackQuit",class='blackJackOptionButton gameButton')