extends ../layout
block scripts
block css
	link(rel='stylesheet', href='/stylesheets/blackjack.css')
block content
	script
		var game_data = !{JSON.stringify(data)};
	div.blackJackContainer
		div.gameTopBar 
			span.gameTitle Black Jack
			div.playerBid
				span.bidText.moneyItem Bid
				span.bjPlayerBid.moneyItem 0
			div.playerMoney
				span.moneyText.moneyItem Money
				span.bjPlayerMoney.moneyItem #{data.cur_player.money}
		div.blackJackTable
			div.blackJackDealerContainer
				div.blackJackPlayer.dealer
					span.blackJackNameTag Dealer
					div.blackJackHand
			div.blackJackPlayerContainer
				div.blackJackPlayer.leftPlayer.livePlayer
					if data.left_player
						span.blackJackNameTag #{data.left_player.user_name}
					else
						span.blackJackNameTag
					div.blackJackHand
					span.blackJackGameResult
				div.blackJackPlayer.currentPlayer.livePlayer
					span.blackJackNameTag #{data.cur_player.user_name}
					div.blackJackHand
					span.blackJackGameResult
				div.blackJackPlayer.rightPlayer.livePlayer
					if data.right_player
						sapn.blackJackNameTag #{data.right_player.user_name}
					else
						span.blackJackNameTag
					div.blackJackHand
					span.blackJackGameResult	
		div.blackJackMenu
			div.bidMenu
				input(type= "button",value="$1", id="$1",class='blackJackChip blackJackBidButton gameButton')
				input(type= "button",value="$5", id="$5",class='blackJackChip blackJackBidButton gameButton')
				input(type= "button",value="$10", id="$10",class='blackJackChip blackJackBidButton gameButton')
				input(type= "button",value="$20", id="$20",class='blackJackChip blackJackBidButton gameButton')
			div.optionMenu
				input(type= "button",value="split", id="blackJackSplit",class='blackJackOptionButton gameButton')
				input(type= "button",value="double", id="blackJackDouble",class='blackJackOptionButton gameButton')
				input(type= "button",value="stand", id="blackJackStand",class='blackJackOptionButton gameButton')
				input(type= "button",value="hit", id="blackJackHit",class='blackJackOptionButton gameButton')
				input(type= "button",value="deal", id="blackJackDeal",class='blackJackOptionButton gameButton')
				input(type= "button",value="quit", id="blackJackQuit",class='blackJackOptionButton gameButton')